# CERTIFICATES
*.crt
*.csr
*.jks
*_creds
*.pem
*.key
*.p12
*.srl
*.properties
config/*.conf
kafka/documentation/*

# JAR
*.jar
node_modules
backup_*.sh
backup_*.yml


# FOR KAFKA
kafka/shell/*

**/*/target/*