# CERTIFICATES
*.crt
*.csr
*.jks
*_creds
*.pem
*.key
*.p12
*.srl
*.sql
*.properties
config/*.conf
kafka/config/*.yaml

# JAR
*.jar
node_modules
backup_*.sh
backup_*.yml


# FOR KAFKA
kafka/shell/*

**/*/java/*